@model Project
@{
    ViewData["Title"] = "جزئیات پروژه";
}

<h1>ProjectDetails</h1>

<section class="contact-section px-3 py-5 p-md-5">
    <div class="container">
        <table class="table table-light table-striped">
            <thead>
                <tr>
                    <td> Id</td>
                    <td> Image</td>
                    <td> Name</td>
                    <td> Description</td>
                    <td> Client</td>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.Id</td>
                    <td><img src="~/assets/images/project/@Model.Image" width="100px"/></td>
                    <td>@Model.Name</td>
                    <td>@Model.Description</td>
                    <td>@Model.Client</td>

                </tr>
            </tbody>
            
        </table>
    </div>
</section>
